* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    height: 100vh;
}

.container-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    height: 100vh;
}

.container-central {
    max-width: 40%;
}

.logo-central {
    height: 200px;
}

button {
    color: #fff;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    opacity: 0.6;
}

.img-mario-luigi {
    height: 500px;
}

.background-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}

.logo-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;

}

header img {
    height: 80px;
}

header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

header a:hover {
    color: #c51111;
    font-size: 22px;
    transition: 0.4s color ease-in-out;
}

.folmulario {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    top: 30%;
    left: -300px;
    transition: left 1s linear;
    z-index: 4;
}

.folmulario input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    outline-color: #18D80F;
}

.folmulario textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    outline-color: #18D80F;
    padding: 10px;
}


.mascara-form {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

@media(max-width: 1000px) {

    p {
        display: none;
    }

    .container-all {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .container-central {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .img-mario-luigi {
        max-width: 80vw;
        height: auto;
    }

    header {
        margin: 20px 10px 10px;
        justify-content: center;
    }

    header img {
        display: none;
    }

    header a {
        font-size: 18px;
    }
}